
.track {
	background: grey;
	font-size: 55px;
	margin: 20px;
	border: 3px solid black;
}


div#player1.lane {
	background-color: rgb(48, 104, 177);
  	border-radius: 50px;
  	font-size: 45px;
  	height: 80px;
 	margin: 10px 0;
 	padding: 5px 0;
  	text-align: center;
  	width: 80px;
  	position: relative;
}

div#player2.lane {
	background-color: rgb(224, 45, 68);
  	border-radius: 50px;
  	font-size: 45px;
  	height: 80px;
 	margin: 10px 0;
 	padding: 5px 0;
  	text-align: center;
  	width: 80px;
  	position: relative;
}

header {
	text-align: center;
	font-size: 80px;
	font-color: grey;
}

footer {
	height: 400px;
	text-align: center;
	font-size: 70px;
	font-color: grey;
}

body {
	background: url("images/check.jpg");
	background-size: 1500px 1000px;
	background-repeat: no-repeat;
}
